repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all
        language: system
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets
        language: system
        pass_filenames: false
      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check py-laddu
        language: system
        pass_filenames: false
