[workspace]
git_tag_enable = true

[[package]]
name = "laddu-core"

[[package]]
name = "laddu-amplitudes"

[[package]]
name = "laddu-extensions"

[[package]]
name = "laddu"
changelog_include = ["laddu-core", "laddu-amplitudes", "laddu-extensions"]

[[package]]
name = "laddu-python"

[[package]]
name = "py-laddu-cpu"
changelog_include = [
  "laddu-core",
  "laddu-amplitudes",
  "laddu-extensions",
]

[[package]]
name = "py-laddu-mpi"
changelog_include = [
  "laddu-core",
  "laddu-amplitudes",
  "laddu-extensions",
]
