name: Coverage

on:
  pull_request:
    paths:
      - "**.rs"
      - "**.py"
      - ".github/workflows/coverage.yml"
  push:
    branches:
      - main
    paths:
      - "**.rs"
      - "**.py"
      - ".github/workflows/coverage.yml"
  workflow_call:
    secrets:
      codecov_token:
        required: true
  workflow_dispatch:
jobs:
  coverage-rust:
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always
    steps:
      - uses: actions/checkout@v6
      - name: Install OpenMPI
        run: sudo apt install -y clang mpich libmpich-dev
      - name: Install Rust
        run: rustup update nightly
      - name: Install Just
        uses: taiki-e/install-action@just
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Generate Rust code coverage
        run: just coverage-rust
      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-rust
          path: coverage-rust.lcov
  coverage-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Install Just
        uses: taiki-e/install-action@just
      - name: Generate Python code coverage
        run: just coverage-python
      - name: Upload coverage report
        uses: actions/upload-artifact@v6
        with:
          name: coverage-python
          path: coverage-python.xml
  upload-coverage:
    needs: [coverage-rust, coverage-python]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Download coverage reports
        uses: actions/download-artifact@v6
        with:
          merge-multiple: true
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage-rust.lcov,coverage-python.xml
          fail_ci_if_error: true
          verbose: true
          root_dir: ${{ github.workspace }}
