---
name: Build and Release laddu (Python)
"on":
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  push:
    branches:
      - main
    tags:
      - py-laddu*
      - "!py-laddu-cpu*"
      - "!py-laddu-mpi*"
  workflow_dispatch: ~
jobs:
  build-check-test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.10"
      - name: Setup MPI
        uses: mpi4py/setup-mpi@v1
      - run: cargo clippy
      - name: Install Rust Tool
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-hack
      - run: cargo hack check --rust-version --feature-powerset --no-dev-deps
      - run: cargo hack test --feature-powerset
      - run: |-
          uv venv
          . .venv/bin/activate
          echo PATH=$PATH >> $GITHUB_ENV
          uvx --with "maturin[patchelf]>=1.7,<2" maturin build --manifest-path py-laddu-cpu/Cargo.toml --release -o py-laddu-cpu/dist
          uv pip install --no-cache-dir --find-links py-laddu-cpu/dist laddu-cpu
          uv pip install --no-cache-dir -e "py-laddu[tests]"
      - run: uvx ruff check . --extend-exclude=.yamloom.py
      - run: uvx ty check . --exclude=.yamloom.py
      - run: uv run pytest
  linux-cpu:
    name: Build Linux Wheels (cpu)
    permissions:
      contents: read
    needs:
      - build-check-test
    if: ${{ (startsWith(github.ref, 'refs/tags/py-laddu') || (github.event_name == 'workflow_dispatch')) }}
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: ubuntu-22.04
            target: x86_64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: x86
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: aarch64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: armv7
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: s390x
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: ppc64le
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - run: printf "%s\n" ${{ join(matrix.platform.python_versions, ' ') }} >> version.txt
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: version.txt
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          manylinux: auto
          target: ${{ matrix.platform.target }}
          sccache: ${{ !(startsWith(github.ref, 'refs/tags/')) }}
          args: --release --out dist --manifest-path py-laddu-cpu/Cargo.toml --interpreter ${{ join(matrix.platform.python_versions, ' ') }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          path: dist
          name: cpu-linux-${{ matrix.platform.target }}
  musllinux-cpu:
    name: Build (musl) Linux Wheels (cpu)
    permissions:
      contents: read
    needs:
      - build-check-test
    if: ${{ (startsWith(github.ref, 'refs/tags/py-laddu') || (github.event_name == 'workflow_dispatch')) }}
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: ubuntu-22.04
            target: x86_64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: x86
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: aarch64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: armv7
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - run: printf "%s\n" ${{ join(matrix.platform.python_versions, ' ') }} >> version.txt
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: version.txt
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          manylinux: musllinux_1_2
          target: ${{ matrix.platform.target }}
          sccache: ${{ !(startsWith(github.ref, 'refs/tags/')) }}
          args: --release --out dist --manifest-path py-laddu-cpu/Cargo.toml --interpreter ${{ join(matrix.platform.python_versions, ' ') }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          path: dist
          name: cpu-musllinux-${{ matrix.platform.target }}
  windows-cpu:
    name: Build Windows Wheels (cpu)
    permissions:
      contents: read
    needs:
      - build-check-test
    if: ${{ (startsWith(github.ref, 'refs/tags/py-laddu') || (github.event_name == 'workflow_dispatch')) }}
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: windows-latest
            target: x64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
            python_arch: x64
          - runner: windows-latest
            target: x86
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
            python_arch: x86
          - runner: windows-11-arm
            target: aarch64
            python_versions:
              - "3.12"
              - "3.13"
              - "3.14"
            python_arch: arm64
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - run: printf "%s\n" ${{ join(matrix.platform.python_versions, ' ') }} >> version.txt
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: version.txt
          architecture: ${{ matrix.platform.python_arch }}
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          sccache: ${{ !(startsWith(github.ref, 'refs/tags/')) }}
          args: --release --out dist --manifest-path py-laddu-cpu/Cargo.toml --interpreter ${{ join(matrix.platform.python_versions, ' ') }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          path: dist
          name: cpu-windows-${{ matrix.platform.target }}
  macos-cpu:
    name: Build macOS Wheels (cpu)
    permissions:
      contents: read
    needs:
      - build-check-test
    if: ${{ (startsWith(github.ref, 'refs/tags/py-laddu') || (github.event_name == 'workflow_dispatch')) }}
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: macos-15-intel
            target: x86_64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: macos-latest
            target: aarch64
            python_versions:
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - run: printf "%s\n" ${{ join(matrix.platform.python_versions, ' ') }} >> version.txt
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: version.txt
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          sccache: ${{ !(startsWith(github.ref, 'refs/tags/')) }}
          args: --release --out dist --manifest-path py-laddu-cpu/Cargo.toml --interpreter ${{ join(matrix.platform.python_versions, ' ') }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          path: dist
          name: cpu-macos-${{ matrix.platform.target }}
  linux-mpi:
    name: Build Linux Wheels (mpi)
    permissions:
      contents: read
    needs:
      - build-check-test
    if: ${{ (startsWith(github.ref, 'refs/tags/py-laddu') || (github.event_name == 'workflow_dispatch')) }}
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: ubuntu-22.04
            target: x86_64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: x86
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - run: printf "%s\n" ${{ join(matrix.platform.python_versions, ' ') }} >> version.txt
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: version.txt
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          manylinux: auto
          target: ${{ matrix.platform.target }}
          sccache: ${{ !(startsWith(github.ref, 'refs/tags/')) }}
          before-script-linux: |-
            yum -y install openmpi openmpi-devel pkgconfig clang llvm-devel
            export MPICC="$(find /usr -name 'mpicc' 2>/dev/null | head -n 1)"
            MPI_LIB_DIR="$(dirname "$(find /usr -name 'libmpi.so' 2>/dev/null | head -n 1)")"
            export LD_LIBRARY_PATH="${MPI_LIB_DIR}:${LD_LIBRARY_PATH:-}"
          args: --release --out dist --manifest-path py-laddu-mpi/Cargo.toml --interpreter ${{ join(matrix.platform.python_versions, ' ') }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          path: dist
          name: mpi-linux-${{ matrix.platform.target }}
  windows-mpi:
    name: Build Windows Wheels (mpi)
    permissions:
      contents: read
    needs:
      - build-check-test
    if: ${{ (startsWith(github.ref, 'refs/tags/py-laddu') || (github.event_name == 'workflow_dispatch')) }}
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: windows-latest
            target: x64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
            python_arch: x64
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - run: printf "%s\n" ${{ join(matrix.platform.python_versions, ' ') }} >> version.txt
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: version.txt
          architecture: ${{ matrix.platform.python_arch }}
      - name: Setup intelmpi
        uses: mpi4py/setup-mpi@v1
        with:
          mpi: intelmpi
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          sccache: ${{ !(startsWith(github.ref, 'refs/tags/')) }}
          args: --release --out dist --manifest-path py-laddu-mpi/Cargo.toml --interpreter ${{ join(matrix.platform.python_versions, ' ') }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          path: dist
          name: mpi-windows-${{ matrix.platform.target }}
  macos-mpi:
    name: Build macOS Wheels (mpi)
    permissions:
      contents: read
    needs:
      - build-check-test
    if: ${{ (startsWith(github.ref, 'refs/tags/py-laddu') || (github.event_name == 'workflow_dispatch')) }}
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: macos-15-intel
            target: x86_64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: macos-latest
            target: aarch64
            python_versions:
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - run: printf "%s\n" ${{ join(matrix.platform.python_versions, ' ') }} >> version.txt
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: version.txt
      - name: Setup openmpi
        uses: mpi4py/setup-mpi@v1
        with:
          mpi: openmpi
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          sccache: ${{ !(startsWith(github.ref, 'refs/tags/')) }}
          args: --release --out dist --manifest-path py-laddu-mpi/Cargo.toml --interpreter ${{ join(matrix.platform.python_versions, ' ') }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          path: dist
          name: mpi-macos-${{ matrix.platform.target }}
  sdist-cpu:
    name: Build Source Distribution
    permissions:
      contents: read
    needs:
      - build-check-test
    if: ${{ (startsWith(github.ref, 'refs/tags/py-laddu') || (github.event_name == 'workflow_dispatch')) }}
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Build sdist
        uses: PyO3/maturin-action@v1
        with:
          command: sdist
          args: "--out dist --manifest-path py-laddu-cpu/Cargo.toml"
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          path: dist
          name: cpu-sdist
  sdist-mpi:
    name: Build Source Distribution
    permissions:
      contents: read
    needs:
      - build-check-test
    if: ${{ (startsWith(github.ref, 'refs/tags/py-laddu') || (github.event_name == 'workflow_dispatch')) }}
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Build sdist
        uses: PyO3/maturin-action@v1
        with:
          command: sdist
          args: "--out dist --manifest-path py-laddu-mpi/Cargo.toml"
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          path: dist
          name: mpi-sdist
  release:
    name: Release
    needs:
      - linux-cpu
      - musllinux-cpu
      - windows-cpu
      - macos-cpu
      - linux-mpi
      - windows-mpi
      - macos-mpi
      - sdist-cpu
      - sdist-mpi
    if: ${{ (startsWith(github.ref, 'refs/tags/py-laddu') || (github.event_name == 'workflow_dispatch')) }}
    runs-on: ubuntu-22.04
    environment: pypi
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v7
      - name: Setup uv
        uses: astral-sh/setup-uv@v7
      - run: uv publish --trusted-publishing always cpu-*/*
      - run: uv publish --trusted-publishing always mpi-*/*
      - run: |-
          uv build py-laddu --out-dir dist
          uv publish --trusted-publishing always dist/*