name: Rust

on:
  push:
    branches: ["main"]
    tags: ["*"]
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install deps (OpenMPI, clang)
        run: |
          sudo apt update
          sudo apt install -y clang libopenmpi-dev
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Install Just
        uses: taiki-e/install-action@just
      - name: Clippy
        run: just lint-rust-mpi

  build-check-test:
    if: github.event_name != 'pull_request' || github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install deps (OpenMPI, clang)
        run: |
          sudo apt update
          sudo apt install -y clang libopenmpi-dev

      - name: Toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-hack
        uses: taiki-e/install-action@cargo-hack
      - name: Install Just
        uses: taiki-e/install-action@just

      - name: Run cargo-hack check
        run: just hack-check

      - name: Run cargo-hack tests
        run: just hack-test
