---
name: Build laddu (Python)
"on": workflow_dispatch
jobs:
  linux-cpu:
    name: Build Linux Wheels (cpu)
    permissions:
      contents: read
    if: ${{ (startsWith(github.ref, 'refs/tags/py-laddu') || (github.event_name == 'workflow_dispatch')) }}
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: ubuntu-22.04
            target: x86_64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: x86
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: aarch64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: armv7
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: s390x
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: ppc64le
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - run: printf "%s\n" ${{ join(matrix.platform.python_versions, ' ') }} >> version.txt
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: version.txt
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          manylinux: auto
          target: ${{ matrix.platform.target }}
          sccache: ${{ !(startsWith(github.ref, 'refs/tags/')) }}
          args: --release --out dist --manifest-path py-laddu-cpu/Cargo.toml --interpreter ${{ join(matrix.platform.python_versions, ' ') }}
  musllinux-cpu:
    name: Build (musl) Linux Wheels (cpu)
    permissions:
      contents: read
    if: ${{ (startsWith(github.ref, 'refs/tags/py-laddu') || (github.event_name == 'workflow_dispatch')) }}
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: ubuntu-22.04
            target: x86_64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: x86
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: aarch64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: armv7
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - run: printf "%s\n" ${{ join(matrix.platform.python_versions, ' ') }} >> version.txt
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: version.txt
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          manylinux: musllinux_1_2
          target: ${{ matrix.platform.target }}
          sccache: ${{ !(startsWith(github.ref, 'refs/tags/')) }}
          args: --release --out dist --manifest-path py-laddu-cpu/Cargo.toml --interpreter ${{ join(matrix.platform.python_versions, ' ') }}
  windows-cpu:
    name: Build Windows Wheels (cpu)
    permissions:
      contents: read
    if: ${{ (startsWith(github.ref, 'refs/tags/py-laddu') || (github.event_name == 'workflow_dispatch')) }}
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: windows-latest
            target: x64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
            python_arch: x64
          - runner: windows-latest
            target: x86
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
            python_arch: x86
          - runner: windows-11-arm
            target: aarch64
            python_versions:
              - "3.12"
              - "3.13"
              - "3.14"
            python_arch: arm64
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - run: printf "%s\n" ${{ join(matrix.platform.python_versions, ' ') }} >> version.txt
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: version.txt
          architecture: ${{ matrix.platform.python_arch }}
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          sccache: ${{ !(startsWith(github.ref, 'refs/tags/')) }}
          args: --release --out dist --manifest-path py-laddu-cpu/Cargo.toml --interpreter ${{ join(matrix.platform.python_versions, ' ') }}
  macos-cpu:
    name: Build macOS Wheels (cpu)
    permissions:
      contents: read
    if: ${{ (startsWith(github.ref, 'refs/tags/py-laddu') || (github.event_name == 'workflow_dispatch')) }}
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: macos-15-intel
            target: x86_64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: macos-latest
            target: aarch64
            python_versions:
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - run: printf "%s\n" ${{ join(matrix.platform.python_versions, ' ') }} >> version.txt
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: version.txt
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          sccache: ${{ !(startsWith(github.ref, 'refs/tags/')) }}
          args: --release --out dist --manifest-path py-laddu-cpu/Cargo.toml --interpreter ${{ join(matrix.platform.python_versions, ' ') }}
  linux-mpi:
    name: Build Linux Wheels (mpi)
    permissions:
      contents: read
    if: ${{ (startsWith(github.ref, 'refs/tags/py-laddu') || (github.event_name == 'workflow_dispatch')) }}
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: ubuntu-22.04
            target: x86_64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: x86
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: aarch64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: armv7
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: s390x
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: ppc64le
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - run: printf "%s\n" ${{ join(matrix.platform.python_versions, ' ') }} >> version.txt
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: version.txt
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          manylinux: auto
          target: ${{ matrix.platform.target }}
          sccache: ${{ !(startsWith(github.ref, 'refs/tags/')) }}
          before-script-linux: yum -y install openmpi openmpi-devel pkgconfig
          args: --release --out dist --manifest-path py-laddu-mpi/Cargo.toml --interpreter ${{ join(matrix.platform.python_versions, ' ') }}
  musllinux-mpi:
    name: Build (musl) Linux Wheels (mpi)
    permissions:
      contents: read
    if: ${{ (startsWith(github.ref, 'refs/tags/py-laddu') || (github.event_name == 'workflow_dispatch')) }}
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: ubuntu-22.04
            target: x86_64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: x86
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: aarch64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: ubuntu-22.04
            target: armv7
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - run: printf "%s\n" ${{ join(matrix.platform.python_versions, ' ') }} >> version.txt
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: version.txt
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          manylinux: musllinux_1_2
          target: ${{ matrix.platform.target }}
          sccache: ${{ !(startsWith(github.ref, 'refs/tags/')) }}
          before-script-linux: apk add --no-cache openmpi openmpi-dev pkgconf
          args: --release --out dist --manifest-path py-laddu-mpi/Cargo.toml --interpreter ${{ join(matrix.platform.python_versions, ' ') }}
  windows-mpi:
    name: Build Windows Wheels (mpi)
    permissions:
      contents: read
    if: ${{ (startsWith(github.ref, 'refs/tags/py-laddu') || (github.event_name == 'workflow_dispatch')) }}
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: windows-latest
            target: x64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
            python_arch: x64
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - run: printf "%s\n" ${{ join(matrix.platform.python_versions, ' ') }} >> version.txt
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: version.txt
          architecture: ${{ matrix.platform.python_arch }}
      - name: Setup intelmpi
        uses: mpi4py/setup-mpi@v1
        with:
          mpi: intelmpi
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          sccache: ${{ !(startsWith(github.ref, 'refs/tags/')) }}
          args: --release --out dist --manifest-path py-laddu-mpi/Cargo.toml --interpreter ${{ join(matrix.platform.python_versions, ' ') }}
  macos-mpi:
    name: Build macOS Wheels (mpi)
    permissions:
      contents: read
    if: ${{ (startsWith(github.ref, 'refs/tags/py-laddu') || (github.event_name == 'workflow_dispatch')) }}
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: macos-15-intel
            target: x86_64
            python_versions:
              - "3.7"
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
          - runner: macos-latest
            target: aarch64
            python_versions:
              - "3.8"
              - "3.9"
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - 3.13t
              - "3.14"
              - 3.14t
              - pypy3.11
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - run: printf "%s\n" ${{ join(matrix.platform.python_versions, ' ') }} >> version.txt
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: version.txt
      - name: Setup openmpi
        uses: mpi4py/setup-mpi@v1
        with:
          mpi: openmpi
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          sccache: ${{ !(startsWith(github.ref, 'refs/tags/')) }}
          args: --release --out dist --manifest-path py-laddu-mpi/Cargo.toml --interpreter ${{ join(matrix.platform.python_versions, ' ') }}